# Maven
/target/
/.mvn/wrapper/dists/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log

# Spring Boot properties with secrets
/src/main/resources/*.key
/src/main/resources/*.pem
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
